{% extends 'tienda/pages/base.html' %}
{% load static %}
{% block titulo %}
Inicio
{% endblock %}
{% block contenido %}
<div id="components">
    <div id="component-76144">
        <div class="container-fluid px-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'tienda/img/slider-demo.jpg' %}" alt="Wire Perú">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Bienvenido</h1>
                            <p>Encuentra la mayor gama de productos de electrónica aquí</p>
                        </div>
                    </div>
                </div>
                <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>-->
            </div>
        </div>
    </div>
    <div id="component-76145">
        <div id="featured-products-76145" class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header">Artículos</h2>
                </div>
                {% for articulo in articulos%}

                <div class="col-md-3 col-6 product-block">
                    <a href="/articulos/{{articulo.id_articulo}}">
                        <img class="img-fluid img-portfolio img-hover mb-3" src="{{articulo.imagen}}"
                            alt="Producto X" />
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="/articulos/{{articulo.id_articulo}}">{{articulo.nombre}}</a>
                        </h3>
                        <div class="price-mob mb-2">{{articulo.precio}}</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}