{% extends 'tienda/pages/base.html' %}
{% load static %}

{% block titulo %}
Pedidos
{% endblock %}

{% block contenido %}
<section class="container">
    <div class="row">
        <section class="col-12 d-none d-md-block">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" class="trsn" title="Inicio">Inicio</a></li>
                <li class="breadcrumb-item"><span>Pedidos</span></li>
            </ol>
        </section>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">Pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="customer-summary">
                <div id="customer-order-table" class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th><b>ID</b></th>
                                <th><b>Núm. Comp.</b></th>
                                <th><b>Tipo Comp.</b></th>
                                <th><b>Serie Comp.</b></th>
                                <th><b>Fecha Pedido</b></th>
                                <th><b>Fecha Entrega</b></th>
                                <th><b>Total</b></th>
                                <th><b>Estado</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.id_pedido }}</td>
                                <td>{{ pedido.num_comprob }}</td>
                                <td>{{ pedido.tipo_comprob }}</td>
                                <td>{{ pedido.serie_comprob }}</td>
                                <td>
                                    <span class="badge badge-primary">
                                        {{ pedido.fecha_pedido.day }} / {{ pedido.fecha_pedido.month }} / {{ pedido.fecha_pedido.year }}
                                    </span>
                                </td>
                                <td>
                                    <span class="badge badge-success">
                                        {{ pedido.fecha_entrega.day  }} / {{ pedido.fecha_entrega.month }} / {{ pedido.fecha_entrega.year }}
                                    </span>
                                </td>
                                <td>S/. {{ pedido.total }}</td>
                                <td>
                                    <span class="badge badge-warning">
                                        {{ pedido.estado_pedido }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}