{% extends 'tienda/pages/base.html' %}
{% load static %}

{% block titulo %}
Perfil
{% endblock %}

{% block contenido %}
<html class="no-js wf-opensans-n3-active wf-opensans-n4-active wf-opensans-n5-active wf-opensans-n6-active wf-opensans-n7-active wf-opensans-n8-active wf-active" lang="en" xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="canonical" href="https://bootstrap.jumpseller.com/customer">
    <link rel="icon" type="image/x-icon" href="https://assets.jumpseller.com/store/bootstrap/themes/382017/favicon.png?1619113824">
    <script src="./profile_files/jquery-3.3.1.min.js.descarga"></script>

    <link rel="stylesheet" href="./profile_files/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./profile_files/app.css">
    <link rel="stylesheet" type="text/css" href="./profile_files/color_pickers.css">
    <script type="application/ld+json">
  </script>


    
    <script src="./profile_files/webfont.js.descarga"></script><script data-dapp-detection="">!function(){let e=!1;function n(){if(!e){const n=document.createElement("meta");n.name="dapp-detected",document.head.appendChild(n),e=!0}}if(window.hasOwnProperty("ethereum")){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,"ethereum",{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&&e.caller&&e.caller.toString&&-1!==e.caller.toString().indexOf("getOwnPropertyNames")||n()}return t}})}}();</script>
<link rel="stylesheet" href="./profile_files/css" media="all"><link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800%7COpen+Sans:300,400,500,600,700,800%7COpen+Sans:300,400,500,600,700,800" media="all"><script>
  WebFont.load({
    google: {
      families: ["Open Sans:300,400,500,600,700,800", "Open Sans:300,400,500,600,700,800", "Open Sans:300,400,500,600,700,800"]
    }
  });
</script>

<style>
  body {
     font-family: 'Open Sans' !important;
  }

  .page-header, h2 {
   font-family: 'Open Sans' !important;
  }

  .navbar-brand, .text-logo {
   font-family: 'Open Sans' !important;
  }

   p, .caption h4, label, table, .panel, #contactpage > h2.success, #contactpage h2.error  {
    font-size: 14px !important;
  }

  h2 {
    font-size: 30px !important;
  }
  .navbar-brand, .text-logo {
    font-size: 18px !important;
  }
  .navbar-left a {
    font-size: 14px !important;
  }

</style>
  <script async="" src="./profile_files/js"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JBWEC7QQTS');
    order_items = null;
  </script>
<script src="./profile_files/jumpseller-2.0.0.js.descarga" defer="defer"></script>
</head>

  <body>

<section class="container">
  <div class="row">
    <section class="col-12 d-none d-md-block">
      <ol class="breadcrumb">
        
        
        <li class="breadcrumb-item"><a href="/ " class="trsn" title="Go back to Home">Home</a></li>
        
        
        
        <li class="breadcrumb-item"><span>Portal del usuario</span></li>
        
        
      </ol>
    </section>
  </div>
</section>



    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header"><h2 class="legend card-title">Contacto</h2></div>
            <div class="card-body">
              
              <p><!--aqui llega el correo del usuario--></p>
              <p><!--aqui llega telefono del usuario--></p>
              <a href="#" class="btn btn-secondary btn-sm" title="Edit"><i class="fas fa-pencil-alt"></i></a>
            </div>
          </div>
        </div>


        <!-- CUSTOMER SHIPPING ADDRESS -->
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header"><h2 class="legend card-title">direccion de entrega</h2></div>
            <div class="card-body">
            <a class="add-link" href="#"><i class="fas fa-plus"></i> Add</a>
              
            </div>
          </div>
        </div>

        <!-- CUSTOMER BILLING ADDRESS -->
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header"><h2 class="legend card-title">Direccion de cuentas</h2></div>
            <div class="card-body">
              <a class="add-link" href="#"><i class="fas fa-plus"></i> Add</a>
              
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-8 col-12">
       <!-- CUSTOMER SUMMARY -->
      <div id="customer-summary">
        <h2>Compras previas</h2>
        <!-- Customer Table // Large & Medium devices, like Desktop computers and Tablets -->
        <div id="customer-order-table" class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th><b>ID</b></th>
                <th><b>Fecha</b></th>
                <th></th>
                <th class="text-right"><b>Subtotal</b></th>
                <th class="text-right"><b>Total</b></th>
                <th class="text-right"><b>Estado</b></th>
              </tr>
            </thead>

            <tbody>
              
              <tr>
                <td colspan="6">Todavia nop haz hecho Compras</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
 <!-- Css -->
    <link rel="stylesheet" href="./profile_files/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    

    <!-- Bootstrap Core JavaScript -->
    <script src="./profile_files/popper.min.js.descarga"></script>
    <script src="./profile_files/bootstrap.min.js.descarga"></script>

    <!-- Script to Activate Tooltips -->
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('.carousel').carousel()
      })
    </script>

    <script src="./profile_files/bootstrap-filestyle.min.js.descarga"></script>
    <script src="./profile_files/main.js.descarga"></script>
</body></html>
{% endblock %}