{% extends 'tienda/pages/base.html' %}
{% load static %}

{% block titulo %}
Perfil
{% endblock %}

{% block contenido %}
<section class="container">
  <div class="row">
    <section class="col-12 d-none d-md-block">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="trsn" title="Inicio">Inicio</a></li>
        <li class="breadcrumb-item"><span>Perfil</span></li>
      </ol>
    </section>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="legend card-title">Información Personal</h2>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="nombres" class="control-label">Nombres</label>
              <input type="text" name="nombres" id="nombres" class="text form-control" required="required"
                value="Eric Edofin">
            </div>
            <div class="form-group">
              <label for="apepaterno" class="control-label">
                Apellido Paterno
              </label>
              <input type="text" name="apepaterno" id="apepaterno" class="text form-control" required="required"
                value="Cuba">
            </div>
            <div class="form-group">
              <label for="apematerno" class="control-label">
                Apellido Materno
              </label>
              <input type="text" name="apematerno" id="apematerno" class="text form-control" required="required"
                value="Auccasi">
            </div>
            <div class="form-group">
              <label for="dni" class="control-label">
                DNI
              </label>
              <input type="text" name="dni" id="dni" class="text form-control" required="required" value="00012345">
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">
              <i class="fas fa-pencil-alt"></i> Guardar
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="legend card-title">Datos de contacto</h2>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="email" class="control-label">
                Email
              </label>
              <input type="email" name="email" id="email" class="text form-control" required="required"
                value="cuba2021@gmail.com">
            </div>
            <div class="form-group">
              <label for="telefono" class="control-label">
                Teléfono
              </label>
              <input type="tel" name="telefono" id="telefono" class="text form-control" required="required"
                value="952201342">
            </div>
            <div class="form-group">
              <label for="direccion" class="control-label">
                Dirección
              </label>
              <textarea name="direccion" class="form-control" id="direccion" rows="3" required="required">Dirección Actual Calle SN Avenida SN
              </textarea>
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">
              <i class="fas fa-pencil-alt"></i> Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}