{% extends 'tienda/pages/base.html' %}
{% load static %}

{% block titulo %}
Sobre nosotros
{% endblock %}

{% block contenido %}
    <style>
        .row{
            margin-top: 20px;
        }

        .servicios{
            background-color:royalblue;
            text-align: center;
            display: flex;
            align-items: center;
        }

        .serviciosContent{
            padding-inline-start: 15%;
            padding-inline-end: 15%;
            margin-top: 15px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-6" >
                <div class="row">
                    <div class="col-12">
                        <h2>WIRE PERU SAC TE DA LA BIENVENIDA</h2>
                    </div>
                    <div class="col-12">
                        <p>WIRE PERU S.A.C Somos una empresa orienta al servicio <br> del cliente,realizamos trabajos de:</p>
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item">Mantenimiento e instalación de equipos eléctricos.</li> 
                            <li class="list-group-item">Pozos a tierra.</li> 
                            <li class="list-group-item">Sensores de Humo.</li> 
                            <li class="list-group-item">Instalaciones eléctricas del hogar e industriales.</li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img style="width: 100%;height: 500px;" src="https://bit.ly/3xyNJam" alt="">
            </div>
        </div>
        <div class="row" style="background-color: grey;text-align: center;">
            <div class="col-12">
                <h2 style="padding: 30px 0;">Conoce nuestros servicios</h2>
            </div>
            <div class="col-12" style="padding: 30px 20%;">
                <p>WIRE PERU SAC siempre trabaja honrando valores que nos permiten cumplir con las necesidades de nuestros clientes. Nuestros canales de comunicación siempre están abiertos— nuestras relaciones comienzan desde el primer contacto y culminan cuando se logra la satisfacción con el trabajo.</p>
                <p>Al contratarnos puedes estar seguro de que encontrarás los resultados que necesitas. Contáctanos y descubre las ventajas de colaborar con WIRE PERU SAC.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center; padding: 30px 0;">
                <h2 style="color: blue;">NUESTROS SERVICIOS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6"><img style="width: 100%;height: 100%;" src="https://bit.ly/3r4Tw5c" alt=""></div>
            <div class="col-6 servicios" >
                <div class="row">
                    <div class="col-12">
                        <h2>Servicio de mantenimiento Eléctrico en Instalaciones Industriales.</h2>
                    </div>
                    <div class="col-12 serviciosContent">
                        <p>Instalaciones  y Mantenimiento de componentes eléctricos industriales, como autómatas programables , sensores de monitoreo, focos ahorradores, fluorescentes, halogenuro metálico, Led, reflectores, luminarias, reflectores led para estaciones de combustible o estación de servicio (luminarias para techo canopy), luces de emergencia, cables thw, cables libre de halógeno, tubería pvc sap, pvc sel, bandejas portacables, tubos conduit o tubería conduit EMT, IMC, tableros industriales, bombas de agua, accesorios y más.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 servicios">
                <div class="row">
                    <div class="col-12">
                        <h2>CÁLCULO Y DISEÑO DE ILUMINACIÓN, TANTO INDUSTRIAL COMO DECORATIVA</h2>
                    </div>
                    <div class="col-12 serviciosContent">
                        <p>WIRE PERU cuenta con un staff de amplia experiencia (ingenieros con años de trayectoria en el área) con capacidad de diseñar a medida las necesidades del cliente en cualquier instalación  en baja, media o alta tensión.</p>
                    </div>
                </div>
            </div>
            <div class="col-6"><img style="width: 100%;height: 100%;" src="https://bit.ly/3yRRzLZ" alt=""></div>
        </div>
        <div class="row">
            <div class="col-6"><img style="width: 100%;height: 100%;" src="https://bit.ly/3r5h3mq" alt=""></div>
            <div class="col-6 servicios">
                <div class="row">
                    <div class="col-12">
                        <h2>Servicio de mantenimiento Eléctrico en Instalaciones Comerciales</h2>
                    </div>
                    <div class="col-12 serviciosContent">
                        <p>Diseño, Instalación, Remodelaciones, Mantenimiento Preventivo y Correctivo de instalaciones eléctricas comerciales e industriales, adosadas con tubería , iluminación comercial, high bay, luminarias para oficinas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 servicios">
                <div class="row">
                    <div class="col-12">
                        <h2>Servicio de mantenimiento Eléctrico en Instalaciones Residenciales</h2>
                    </div>
                    <div class="col-12 serviciosContent">
                        <p> Mantenimiento Preventivo y Correctivo de Luces de Emergencia, se emite constancia de operatividad y mantenimiento para tramites INDECI.</p>
                        <p>Diseño, Instalación, Remodelaciones, Mantenimiento Preventivo y Correctivo de instalaciones eléctricas domiciliarias y residenciales como cableado, iluminación, tomacorrientes, tableros, electro bombas, control de nivel de tanque elevado, etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-6"><img style="width: 100%;height: 100%;" src="https://bit.ly/36yCWBc" alt=""></div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <h2 style="color: blue;">CONTACTO</h2>
            </div>
            <div class="col-12" style="text-align: center;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mz: Z Lt: 24 Str: 2 AAHH Edilberto Ramos Villa el Salvador Peru 42</li> 
                    <li class="list-group-item">wireperusac@gmail.com</li> 
                    <li class="list-group-item">960645736/918389165/940000772</li> 
                </ul>
            </div>
        </div>
    </div>
{% endblock %}